.payment{
    $self: &;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $primary;
    &__stepper-section {
        width: fit-content;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        background-color: $white;
        width: fit-content;
        padding: 52px 20px 20px 50px;
        margin: auto auto;
        min-width: 1100px;
        height: fit-content;
        min-height: 550px;
        box-shadow: 2px 10px 20px 0px $secondaryOpt10;
    }
    &__form-section {
        width: 100%;
    }
    &__back {
        display: flex;
        cursor: pointer;
        margin-bottom: 33px;
    }
    &__back-icon {
        color: $blackOpt60;
        margin-right: 11px;
    }
    &__divider {
        width: 1px;
        background-color: $secondaryOpt20;
        height: 460px;
        margin-left: 29px;
        margin-right: 17px;
    }
    &__summary-section {
        margin-left: auto;
    }
}