.payment-heading {
	$self: &;
	position: relative;
	&__tag {
		position: relative;
		z-index: 2;
	}
	&__shadow {
		height: 8px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		background-color: $lightest-grey;
	}
}