.payment-form {
	$self: &;

	&__category {
		margin-bottom: 68px;
		&:nth-last-child(1) {
			margin-bottom: 0;
		}
	}
	&__category-items {
		display: flex;
		@include mq-medium {
			display: block;
		}
	}
	&__category-item {
		margin-right: 10px;
		@include mq-medium {
			margin-right: 0;
			margin-bottom: 8px;
		}
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}
}

.category-button{
	cursor: pointer;
	$self: &;
	min-width: 180px;
	height: 60px;
	padding: 14px;
	border: 1px solid $light-grey;
	background-color: $white;
	position: relative;
	@include mq-medium {
		min-width: auto;
		width: 100%;
	}
	&--active {
		border-color: $success;
		background-color: $successOpt10;
		border-width: 2px;
	}
	&--disabled {
		border-color: $secondary !important;
		background-color: $secondaryOpt20 !important;
	}
	&__content {

	}
	&__icon {
		display: none;
		position: absolute;
		top: 0;
		right: 12px;
		line-height: 60px;
		font-size: 14px;
	}
}
.category-button__icon {
	$self: &;
	&--active {
		display: block;
		color: $success;
	}
	&--disabled {
		display: block;
		color: $secondary !important;
	}
}