$primary: #FFFAE6;
$secondary: #FF8A00;
$secondaryOpt10: rgba(254, 138, 0 , 0.1);
$secondaryOpt20: rgba(254, 138, 0 , 0.2);
$white: #FFFFFF;
$success: #1BD97B;
$black: #000000;
$grey: #D8D8D8;
$light-grey: #CCCCCC;