$primary: #FFFAE6;
$secondary: #FF8A00;
$secondaryOpt10: rgba(254, 138, 0 , 0.1);
$secondaryOpt20: rgba(254, 138, 0 , 0.2);
$white: #FFFFFF;
$success: #1BD97B;
$successOpt10: rgba(27,217,123, 0.1);
$black: #000000;
$blackOpt60: rgba(0,0,0,0.6);
$grey: #D8D8D8;
$light-grey: #CCCCCC;
$lightest-grey: #EEEEEE;
$bluis-black: #2D2A40;
$bluis-blackOpt80: rgba(26, 19, 75, 0.8);
$bluis-blackOpt60: rgba(45,42,64, 0.6);

$time-unit : ms;
$general-duration : 300;
$transition-duration : $general-duration+$time-unit;